{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="{{ request.LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Whiteboards's - INFOBoard</title>
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
  <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
  <link rel="icon" href="{% static 'fav.png' %}">
  {% block head %}
  {% endblock %}
</head>
<body id="page-top">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert" style="position: fixed;bottom: 10px;left: 10px;z-index: 1000">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
  <div id="wrapper">
    <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark toggled">
      <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#" style="background: url({% static 'TABLICA.png' %}) center / contain no-repeat;width: 100%;"></a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
          <li class="nav-item">
          {% if request.user.is_creator or request.user.is_superuser or request.user.is_staff %}
            <a class="nav-link {% if request.resolver_match.url_name == 'my' %}active{% endif %}" href="{% url 'my' %}" style="font-size: 0.9rem;">
              <i class="far fa-list-alt"></i>
              <span>Moje Tablice</span>
            </a>
            <hr>
            <a class="nav-link {% if request.resolver_match.url_name == 'my_board_groups' %}active{% endif %}" href="{% url 'my_board_groups' %}" style="font-size: 0.9rem;">
              <i class="far fa-handshake"></i>
              <span>Moje Grupy</span>
            </a>
            <hr>
          {% endif %}
            <a class="nav-link {% if request.resolver_match.url_name == 'shared' %}active{% endif %}" href="{% url 'shared' %}" style="font-size: 0.9rem;">
              <i class="far fa-share-square"></i>
              <span>Wspólne Tablice</span>
            </a>
            <hr>
            <a class="nav-link {% if request.resolver_match.url_name == 'shared_board_groups' %}active{% endif %}" href="{% url 'shared_board_groups' %}" style="font-size: 0.9rem;">
              <i class="far fa-compass"></i>
              <span>Wspólne Grupy</span>
            </a>
            <hr>
          </li>
        </ul>
      </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <nav class="navbar navbar-expand bg-white shadow mb-4 topbar">
          <div class="container-fluid">
            <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button">
              <i class="fas fa-bars"></i>
            </button>
            <ul class="navbar-nav flex-nowrap ms-auto">
              {% if request.user.is_staff %}
                <div class="nav-item">
                  <a class="nav-link " href="{% url 'admin:index' %}">
                    <i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Admin
                  </a>
                </div>
              {% endif %}
              {% if request.user.is_creator %}
                <div class="nav-item">
                  <a class="nav-link text-gray-600" href="#">
                    Nauczyciel
                  </a>
                </div>
              {% else %}
                <div class="nav-item">
                  <a class="nav-link text-gray-600" href="#">
                    Uczeń
                  </a>
                </div>
              {% endif %}
              <div class="d-none d-sm-block topbar-divider"></div>
              <li class="nav-item dropdown no-arrow">
                <div class="nav-item dropdown no-arrow">
                  <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                    <span class="d-none d-lg-inline me-2 text-gray-600 small">
                      Hej! <b>{{ request.user.first_name }} {{ request.user.last_name }}</b>
                    </span>
                    {% if request.user.profile_image and request.user.profile_image.url != '/media/profile_images/default.png' %}
                      <img src="{{ request.user.profile_image.url }}" alt="Profile Image" class="border rounded-circle img-profile">
                    {% else %}
                      <img src="https://avatar.iran.liara.run/public" alt="Default Profile Image" class="border rounded-circle img-profile">
                    {% endif %}
                  </a>
                  <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                    <a class="dropdown-item" href="{% url 'admin:logout' %}">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Wyloguj się
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container-fluid">
          <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">{% block site_name %}{% endblock %}</h3>
            {% block site_actions %}
            {% endblock %}
          </div>
          {% block content %}
          {% endblock %}
        </div>
      </div>
      <footer class="bg-white sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto copyright">
            <span>Copyright © INFOBoard {{ YEAR }}</span>
          </div>
          <div class="text-center my-auto copyright">
            <span>v{{ VERSION }}</span>
          </div>
        </div>
      </footer>
    </div>
  </div>
  {% block modals %}
  {% endblock %}
  <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/theme.js' %}"></script>
  {% block extra_script %}
  {% endblock %}
</body>
</html>
