{% load static i18n %}
<!DOCTYPE html>
<html lang="{{request.LANGUAGE_CODE}}x">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Tablica INFOTECH{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'vendors/base/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/base/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'TABLICA.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
    <div class="horizontal-menu">
      <nav class="navbar top-navbar col-lg-12 col-12 p-0">
        <div class="container-fluid">
          <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="index.html"><img src="{% static 'TABLICA.png' %}" alt="logo"/></a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'TABLICA.png' %}" alt="logo"/></a>
            </div>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
                    <span class="nav-profile-name">{{ request.user }}</span>
                    <img src="images/faces/face28.png" alt="profile"/>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                      <a class="dropdown-item">
                        <i class="mdi mdi-logout text-primary"></i>
                        Wyloguj
                      </a>
                  </div>
                </li>
            </ul>
          </div>
        </div>
      </nav>
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-sm-6 mb-4 mb-xl-0">
							<div class="d-lg-flex align-items-center">
								<div>
									<h3 class="text-dark font-weight-bold mb-2">Hej <b>{{ request.user }}</b>, Witaj ponownie!</h3>
                  <h6>Twoje tablice:</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
  {% if tables %}
    {% for table in tables %}
      <div class="col-lg-4 col-md-6 col-sm-12">
        <a href="{% url 'collab:room' table.room_name %}" class="card-link">
          <div class="card sale-diffrence-border">
            <div class="card-body d-flex flex-column">
              <h4 class="card-title mb-2">{{ table.room_name }}</h4>
              <small class="text-muted">Edytowano: {{ table.last_update }}</small>
              <button class="btn btn-secondary mt-auto">Odtwórz</button>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  {% else %}
    <div class="col-sm-12 grid-margin stretch-card">
      <div class="card sale-empty-table-border">
        <div class="card-body">
          <h4 class="card-title mb-2">Brak Tablic</h4>
        </div>
      </div>
    </div>
  {% endif %}
</div>
        </div>
        <footer class="footer">
          <div class="footer-wrap">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href="https://infotech.edu.pl/" target="_blank">infotech.edu.pl</a> {{ now_year }}</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Writing by <b> Maciej Jakubowicz </b> IT Specjalist</span>
            </div>
          </div>
        </footer>
			</div>
		</div>
    </div>
    </div>
    <script src="{% static 'vendors/base/vendor.bundle.base.js' %}"></script>
  </body>
</html>
